@font-face {
    font-family: 'Mabry Pro';
    src: url('../assets/MabryPro-Regular.woff2') format('woff2'),
         url('../assets/MabryPro-Regular.woff') format('woff'),
         url('../assets/MabryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Mabry Pro';
    src: url('../assets/MabryPro-Bold.woff2') format('woff2'),
         url('../assets/MabryPro-Bold.woff') format('woff'),
         url('../assets/MabryPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }